= form_for @situation do |f|
  - if @situation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@situation.errors.count, "error")} prohibited this situation from being saved:"
      %ul
        - @situation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
