= form_for @situation do |f|
  - if @situation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@situation.errors.count, "error")} prohibited this situation from being saved:"
      %ul
        - @situation.errors.full_messages.each do |msg|
          %li= msg
  %p{:class => 'ui form'}
    = f.label :name
    = f.text_field :name
    = f.label :situationimg
    = f.text_field :situationimg
    = f.label :headingcolor
    = f.radio_button :headingcolor, 'light', :checked=> true
    = label :headingcolor, 'Light'
    = f.radio_button :headingcolor, 'dark'
    = label :headingcolor, 'Dark'
    %br
    = f.label :description
    = f.text_area :description, :class => 'tinymce', :rows => 40, :cols => 120
    .ui.grid
      .right.floated.right.aligned.three.wide.column
        = f.submit 'Save', class: 'ui basic button'
=tinymce
