= form_for @download do |f|
  - if @download.errors.any?
    #error_explanation
      %h2= "#{pluralize(@download.errors.count, "error")} prohibited this download from being saved:"
      %ul
        - @download.errors.full_messages.each do |msg|
          %li= msg
  %p{:class => 'ui form'}
    = f.label :file
    = f.text_field :file
    = f.label :link
    = f.text_field :link
    = f.label :material_id
    = f.select(:material_id, Material.all, :prompt=>true)
    = f.label :description
    = f.text_area :description, :class => 'tinymce', :rows => 10, :cols => 120
    .ui.grid
      .right.floated.right.aligned.three.wide.column
        = f.submit 'Save',class: 'ui basic button'
=tinymce
