= render :partial => '/components/adminnav', :locals => { :current => 'downloads' }
.ui.grid
  .twelve.wide.column.centered
    %h1 Wicker Wonder Downloads
    .ui.divider
    %table{:class=> 'ui table'}
      %thead
        %tr
          %th
            Download
          %th
            Show
          %th
            Edit
          %th
            Delete
      %tbody
        - @downloads.each do |d|
          %tr
            %td= d.file
            %td= link_to 'Show', d
            %td{:class=>'warning'}= link_to 'Edit', edit_downloads_path(d)
            %td{:class=>'error'}= link_to 'Destroy', d, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .ui.divider
    = link_to 'New Download', new_download_path, class: 'ui orange basic button'