.ui.grid
  .twelve.wide.column.centered
    %h1 Wicker Wonder Characters
    .ui.divider
    %table{:class=> 'ui table'}
      %thead
        %tr
          %th
            Character Name
          %th
            Show
          %th
            Edit
          %th
            Delete

      %tbody
        - @characters.each do |character|
          %tr
            %td= character.name
            %td= link_to 'Show', character
            %td{:class=>'warning'}= link_to 'Edit', edit_character_path(character)
            %td{:class=>'error'}= link_to 'Destroy', character, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .ui.divider
    = link_to 'New Character', new_character_path, class: 'ui orange basic button'