.ui.left.vertical.inverted.labeled.icon.sidebar.menu{:id => 'sidenav'}
  %a{:class=>'item'}
    %i{:class=>'home icon'}
    Home
.pusher.wckr.bg
  .wckr.navigtation.trigger
  .ui.black.right.attached.fixed.icon.button{:id=>'trigger'}
    %i{:class=>'content icon'}
  .ui.vertical.segment{:id=>'main'}
    .ui.page.grid
      .segment
        = render :partial => 'components/welcome'
      .divider
      .segment
        = render :partial => 'components/characters'
      .divider
      .segment
        = render :partial => 'components/situations'
      .divider
      .segment
        = render :partial => 'components/closer'
      .divider
      .segment
        = render :partial => 'components/materials'
      .divider