.ui.left.vertical.inverted.labeled.icon.sidebar.menu{:id => 'sidenav'}
  %a{:class=>'item', :href=>'#wicker_welcome', :id => 'wicker_welcome_nav'}
    Home
  %a{:class=>'item', :href=>'#wicker_characters', :id => 'wicker_characters_nav'}
    Meet the Characters
  %a{:class=>'item', :href=>'#wicker_situations', :id => 'wicker_situations_nav'}
    Wicker's World
  %a{:class=>'item', :href=>'#wicker_info', :id=>'wicker_info_nav'}
    Contact
  %a{:class=>'item', :href=>'#wicker_materials', :id=>'wicker_materials_nav'}
    Download Materials
.pusher
  .wckr.navigtation.trigger
  .ui.black.right.icon.button{:id=>'trigger'}
    %i{:class=>'content icon'}
  = render :partial => 'components/welcome'
  = render :partial => 'components/characters', :locals => {:characters => @characters}
  = render :partial => 'components/situations', :locals => {:situations => @situations}
  = render :partial => 'components/closer'
  = render :partial => 'components/materials', :locals => {:downloads => @downloads, :materials => @materials}