.ui.left.vertical.inverted.labeled.icon.sidebar.menu{:id => 'sidenav'}
  %a{:class=>'item', :href=>'#wicker_welcome', :data =>{:scroll=>true}}
    Home
  %a{:class=>'item', :href=>'#wicker_characters', :data =>{:scroll=>true}}
    Meet the Characters
  %a{:class=>'item', :href=>'#wicker_situations', :data =>{:scroll=>true}}
    Wicker's World
  %a{:class=>'item', :href=>'#wicker_info', :data =>{:scroll=>true}}
    Contact
  %a{:class=>'item', :href=>'#wicker_materials', :data =>{:scroll=>true}}
    Download Materials
.pusher
  .wckr.navigtation.trigger
  .ui.black.right.icon.button{:id=>'trigger'}
    %i{:class=>'content icon'}
  = render :partial => 'components/welcome'
  = render :partial => 'components/characters', :locals => {:characters => @characters}
  = render :partial => 'components/situations', :locals => {:situations => @situations}
  = render :partial => 'components/closer'
  = render :partial => 'components/materials', :locals => {:downloads => @downloads, :materials => @materials}