.ui.sidebar
  = render :partial => 'components/menu'
.pusher.wckr.bg
  = render :partial => 'components/menubutton'
  .ui.vertical.segment
    .ui.page.grid
      .segment
        = render :partial => 'components/welcome'
      .divider
      .segment
        = render :partial => 'components/characters'
      .divider
      .segment
        = render :partial => 'components/situations'
      .divider
      .segment
        = render :partial => 'components/closer'
      .divider
      .segment
        = render :partial => 'components/materials'
      .divider