= form_for @material do |f|
  - if @material.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material.errors.count, "error")} prohibited this material from being saved:"
      %ul
        - @material.errors.full_messages.each do |msg|
          %li= msg
  %p{:class => 'ui form'}
    = f.label :name
    = f.text_field :name
    = f.label :description
    = f.text_area :description, :class => 'tinymce', :rows => 20, :cols => 120
    .ui.grid
      .right.floated.right.aligned.three.wide.column
        = f.submit 'Save', class: 'ui basic button'
=tinymce
