= render :partial => '/components/adminnav', :locals => { :current => 'materials' }
.ui.grid
  .twelve.wide.column.centered
    %h1 Wicker Wonder Materials
    .ui.divider
    %table{:class=> 'ui table'}
      %thead
        %tr
          %th
            Material
          %th
            Show
          %th
            Edit
          %th
            Delete

      %tbody
        - @materials.each do |material|
          %tr
            %td= material.name
            %td= link_to 'Show', material
            %td{:class=>'warning'}= link_to 'Edit', edit_material_path(material)
            %td{:class=>'error'}= link_to 'Destroy', material, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .ui.divider
    = link_to 'New Material', new_material_path, class: 'ui orange basic button'