= form_for @image do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  %p{:class => 'ui form'}
    = f.label :name
    = f.text_field :name
    = f.label :img
    = f.file_field :img
  .actions
    = f.submit 'Save'
